:root {
  --main-bg-color: #447cfc;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@font-face {
  font-family: "Roboto Light";
  src: URL("./roboto.light.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Black";
  src: URL("./roboto.black.ttf") format("truetype");
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#splash-section {
  text-align: right;
  width: 100vw;
  height: 100vh;
  border-bottom: solid 5px white;
  position: relative;
  background-image: url("../images/splash1.png");
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  background-size: contain;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  background:
  /* top, transparent black, faked with gradient */ linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    /* bottom, image */ url(../images/splash1.png);
  background-size: 100% 100%;
}

#splash-img {
  display: none;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  bottom: 0;
  left: 0;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

/* #splash-img {
  position: absolute;
  width: 33%;
  margin: auto;
  bottom: 0;
  left: 0;
  z-index: 99;
} */

#splash-info {
  position: absolute;
  bottom: 0;
  left: 0;
}

#splash-text {
  /* -webkit-animation: fade-in 1.5s linear;
    animation: fade-in 1.5s linear; */
  font-size: 9vw !important;
  line-height: 9vw !important;
  font-family: "Roboto Black";
  letter-spacing: 0.5px;
  text-align: right;
  text-align: left;
}

.splash-text-accent {
  color: #ec003b;
  /* color: yellow; */
  /* color: white; */
}

#main-description {
  font-size: 3.4vh !important;
  line-height: 4vh !important;
  text-align: center;
  width: 90%;
  margin: auto !important;
}

#button-div {
  text-align: center;
}

#button-div button {
  width: 15%;
  margin-left: 0.5%;
  margin-right: 0.5%;
}

#team-div, #dao-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.team-member {
  width: 25%;
  text-align: center;
  padding-top: 3vw;
  padding-bottom: 3vw;
}

.team-member img {
  width: 25%;
  border-radius: 50%;
}

.team-member h2 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.team-member a button {
  min-width: 40%;
  background-color: black !important;
  color: yellow !important;
  border-radius: 25px;
  padding: 0.75vw;
  border: solid 1px yellow;
  font-family: "Roboto Light" !important;
}

.team-member a button:hover {
  background-color: #ec003b !important;
}

#models {
  text-align: center;
  padding: 0 !important;
  border-top: solid white 1px;
  border-bottom: solid white 1px;
}

#models img {
  width: 33.1vw;
}

/* start header/navbar styling */

#top {
  z-index: 9999;
  width: 100%;
  /* opacity: .95; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white !important;
  background-color: black;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  height: 9vh;
  font-family: "Roboto Light", sans-serif;
}

#test h2 {
  font-size: 5vw !important;
}

#project-name {
  color: white;
}

#header,
#title-section {
  margin: 0;
  padding: 0;
}

#title-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  font-size: 1.5vw;
  line-height: 1.5vw;
  text-align: center;
}

#title {
  width: 100%;
  letter-spacing: 5px;
}

#title img {
  height: 8vh;
  margin-bottom: 1vh;
}

#desktop-wallet-connect-div {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 45%;
  margin-right: 5%;
}

#desktop-wallet-connect-div button {
  width: 25%;
  font-size: 1vw;
  letter-spacing: 1px;
}

#title-link {
  height: 100%;
  width: 80%;
  color: white !important;
}

.title-link {
  font-family: "Roboto Black";
}

#header {
  width: 35%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  line-height: 2vw;
}

.header-menu {
  font-size: 1vw;
  line-height: 1vw;
  letter-spacing: 3px;
  width: 15%;
  margin: 1%;
  text-align: center;
}

.header-menu a {
  color: white;
}

#socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin-right: 4%;
}

#socials a {
  width: 5%;
  margin: 1%;
}

#socials a:hover,
#bottom-socials a:hover {
  opacity: 0.8;
}

#logo-img {
  width: 20%;
}

#logo-img img {
  border: 0.5vw black solid;
  border-radius: 50%;
}

#logo-img:hover {
  opacity: 0.8;
}

/* end header/navbar styling */

/* mint section */

.mint-img {
  width: 20%;
  border: 0.5vw black solid;
  border-radius: 20px;
}

/* start about section styling */

#roadmap {
  -webkit-animation: bounce 1.3s infinite;
  animation: bounce 1.3s infinite;
  color: black !important;
}

.down-arrow {
  width: 3vw;
}

@-webkit-keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.left-number,
.right-number {
  position: absolute;
  text-align: center;
  top: 20px;
  font-size: 3vw;
  line-height: 3vw;
}

.left-number {
  left: 20px;
}

.right-number {
  right: 20px;
}

#about {
  padding: 30px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

#about-text-desktop-1 {
  text-align: left;
  border-top: 1px solid white;
  width: 75%;
  margin-right: 6%;
}

#about-text-desktop-2 {
  text-align: left;
  border-top: 1px solid white;
  width: 64%;
  margin-left: 6%;
}

#about-gif {
  width: 30%;
}

#wc-gif {
  border: 1px white solid;
}

#about h2 {
  font-size: 2.5vw;
  line-height: 2.5vw;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* end about section styling */

#bottom-socials {
  width: 20%;
  margin: auto;
  padding: 1vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#bottom-socials a {
  width: 3vw;
  height: 3vw;
}

@media screen and (max-width: 991px) {
  .team-member a button {
    padding: 10px;
  }

  #splash-section {
    background-size: 100% 100% !important;

    background:
        /* top, transparent black, faked with gradient */ linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
      ),
      /* bottom, image */ url(../images/splash1-mobile.png);
  }

  #splash-info {
    position: initial;
  }

  #splash-img {
    width: 100%;
  }

  #splash-text {
    font-size: 12vw !important;
    line-height: 12vw !important;
    font-family: "Roboto Black";
    letter-spacing: 0.5px;
    text-align: right;
  }

  #button-div button {
    width: 45%;
  }

  #info-div p {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }

  .team-member {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  #models {
    margin-top: 0;
    margin-bottom: 20px;
  }

  #models img {
    width: 100vw;
  }

  .left-number,
  .right-number {
    display: none;
  }

  .down-arrow {
    width: 3vh;
  }

  /* start header-navbar styling */

  #top {
    position: initial;
    display: initial;
  }

  .w-container {
    width: 90%;
  }

  #title-section {
    width: 100%;
    border-right: none;
    font-size: 5vh;
    line-height: 5vh;
    margin: 0;
    padding: 1%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }

  #title img {
    width: 15%;
  }

  #title-section {
    font-size: 4vh !important;
  }

  #socials {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
  }

  #socials a {
    width: 10%;
  }

  #logo-img {
    width: 20%;
  }

  #logo-img img {
    border-width: 5px;
  }

  #title {
    width: 100%;
    letter-spacing: 3px;
    text-align: center;
  }

  #header {
    width: 100%;
    border-left: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  /* Mobile Navbar animations */

  #expand-container {
    overflow: hidden;
  }

  #mobile-nav-menu {
    margin-top: -100%;
    transition: all 0.4s;
  }

  #mobile-nav-menu.expanded {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    margin-top: 0;
  }

  @-webkit-keyframes slide-in {
    100% {
      -webkit-transform: translateY(0%);
      transform: translateY(0%);
    }
  }

  @-webkit-keyframes slide-out {
    100% {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }
  }

  @keyframes slide-in {
    100% {
      transform: translateY(0%);
    }
  }

  @keyframes slide-out {
    100% {
      transform: translateY(-100%);
    }
  }

  .expanded {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    opacity: 1;
    animation: slide-in 1s linear;
    -webkit-animation-name: slide-in;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
  }

  .collapsed {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    animation: slide-out 1s linear;
    -webkit-animation-name: slide-out;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
  }

  /* end mobile navbar animations*/

  .header-menu {
    font-size: 4vh;
    line-height: 7.5vh;
    width: 50%;
    margin: auto;
    text-align: center;
  }

  .header-menu a {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  #navbar {
    touch-action: manipulation;
    width: 10%;
    background-color: black !important;
    background-image: url("../images/burger.png");
    background-size: 100% 100%;
  }

  #mobile-wallet-connect-div {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }

  #mobile-wallet-connect-div .button {
    min-height: 6vh;
  }

  #mobile-account {
    color: white !important;
    width: 85%;
  }

  /* end header/navbar styling */

  /* start about section styling */

  #about {
    display: block;
    padding: 10px;
    border-bottom: solid white 1px;
  }

  #about h1 {
    font-size: 3.5vh !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 20px;
  }

  #about p {
    padding-left: 0 !important;
    padding-right: 0 !important;
    font-size: 18px !important;
    line-height: 18px !important;
  }

  #about-text-mobile {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    text-align: left;
  }

  #about-gif {
    width: 100%;
  }

  #wc-gif {
    border-width: 1px;
  }

  /* end about section styling */

  p {
    padding: 20px;
    margin: 0;
    font-size: 20px;
  }

  .section-title {
    font-size: 3vh;
    text-align: center;
  }

  .body-heading {
    text-align: center;
    margin: 0;
    margin-top: 10px;
  }

  #about-info {
    font-size: 2.8vh !important;
    line-height: 3.3vh !important;
  }

  #bottom-socials {
    width: 95%;
    padding: 2vh;
  }

  #bottom-socials a {
    width: 7vh;
    height: 7vh;
  }

  #copyright-div {
    padding: 10px;
    font-size: 2.8vh !important;
    line-height: 3.1vh !important;
  }
}
